<style>
  #user_edit_form{
    background: #fff;
    height: 100vh;
  }
</style>

<div id="user_edit_form" class="ui middle aligned centered grid">
  <div class="six wide computer only  fourteen wide mobile only column">
    <h2 class="ui center aligned header">
      <div class="content">
        Edit User
      </div>
    </h2>
    <div class="ui fluid card">
      <div class="content">
        <%= render 'form', user: @user %>
        <%= link_to 'Show', @user %> |
        <%= link_to 'Back', users_path %>
      </div>
    </div>
  </div>
</div>

