.ui.vertical.menu.sidebar-menu{
  margin-top: 50px !important;
  max-height: calc(100% - 50px) !important;
  height: calc(100% - 50px) !important;
}

nav{
  height: 50px;
}

@media (min-width:768px) {
  .ui.vertical.menu.sidebar-menu{
    visibility: visible;
    transform: translate3d(0,0,0);
  }
  .main-content{
    margin-left: 15rem;
  }
  .sidebar-menu-toggle{
    display: none !important;
  }
}

.main-content{
  margin-top: 40px;
}